<div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img class="bi me-2" src="ArtMarketPlaceLogo.png" width="42" height="42">
        <span class="fs-4">Art MarketPlace</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      @for(role of rolesLayout[role()]; track role.route){
        <li class="nav-item">
          <a [routerLink]="role.route" routerLinkActive="active" 
          class="nav-link link-dark">
            <i [class]="role.logo"></i>
            {{role.title}}
          </a>
        </li>
      }   
    </ul>
    <hr>
    <div class="nav-link link-dark d-flex flex-row justify-content-between bottom-side-bar">
        <a routerLink="/home/profile" routerLinkActive="active" class="nav-link link-dark">
            {{userName()}}
        </a>
        <a class="nav-link link-dark" (click)="onSignOut()"><i class="bi bi-box-arrow-right"></i></a>     
    </div>
</div>
