<header class="d-flex">
    <h1 class="me-auto p-2">My Customizations</h1>
    <button class="btn art-button me-3" (click)="addCustomization(productId)">Add Customization</button>
</header>
<hr>
@if(customization$ | async ; as customizations){
    @if(customizations.length > 0){
        <table class="table customizations">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(customization of customizations ; track customization.id){
                    <tr>
                        <td>{{customization.name}}</td>
                        <td>{{customization.description}}</td>
                        <td>{{customization.price}}</td>
                        <td>
                        <ul class="action-list">
                            <li><a (click)="editCustomization(customization.id)" class="badge badge-info">Edit</a></li>
                            <li><a (click)="deleteCustomization(customization.id)" class="badge badge-danger">Delete</a></li>
                        </ul>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <p>You don't have any customization for this product</p>
    }
}

