.order-count{
    font-size: 75px;
    padding: 8px;
    text-align: right;
}

.info-text{
    padding: 8px;
    font-size: 24px;
}

.shipment-count{
    font-size: 75px;
    padding: 8px;
    text-align: right;
}