.order-info{
    display: none;
}

.orders th,
.orders td{
    background-color: #F9F6F0 !important;
}

.badge.badge-success {
  background-color: #198754 !important;
  text-decoration: none;
  color: white;
}

.badge.badge-success:hover{
  background-color: #157347 !important;
  cursor: pointer;
}